@model ResursGAP.Models.City

<h2>Подробности о городе</h2>

<p>Название города: @Model.Name</p>
<p>Зональная цена: @Model.ZonePrice</p>
    <td>
        
    <p><a href="@Url.Action("Index", "City")" class="btn btn-secondary btn-hover-blue">Назад к списку</a></p>
    </td>
