@model ResursGAP.Models.City

<h2>Подробности о городе</h2>

<p>Название города: @Model.Name</p>
<p>Зональная цена: @Model.ZonePrice</p>
    <td>
        <a asp-action="Index">Назад к списку</a>
    </td>
