@model ResursGAP.Models.Order

<h2>Подробности о Заказе</h2>

<p>Город отправления: @Model.SenderCity</p>
<p>Город прибытия: @Model.ReceiverCity</p>
<p>Машина: @Model.Truck</p>
<p>Дата отправления: @Model.DeliveryDate</p>
    