@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Home.css">
<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
   <div class="links-container">
        <p><a href="https://localhost:44378/Order/Create">Создать новый заказ</a></p>
</div>
    <p>Список <a href="https://localhost:44378/City/Index">городов</a>.</p>
    <p>Список <a href="https://localhost:44378/Order/Index">заказов</a>.</p>
</div>
