@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Создать <a href="https://localhost:44378/Order/Create">Новый заказ</a>.</p>
    <p>Список <a href="https://localhost:44378/City/Index">городов</a>.</p>
</div>
